1. 파이썬 편/.ipynb_checkpoints/1. 파이썬 기초 문법-checkpoint.ipynb
1. 파이썬 편/.ipynb_checkpoints/2.3 파이썬으로 글자 출력하기-checkpoint.ipynb
1. 파이썬 편/.ipynb_checkpoints/2.2 부동소수점 실수 자료형-checkpoint.ipynb
1. 파이썬 편/.ipynb_checkpoints/2.1 파이썬을 계산기로 사용하기-checkpoint.ipynb
1. 파이썬 편/.ipynb_checkpoints/2.4 파이썬의 문자열 형식화-checkpoint.ipynb
1. 파이썬 편/.ipynb_checkpoints/2.5 파이썬 조건문 기초-checkpoint.ipynb
